@import "../../styles/base.scss";

h3 {
  margin: 10px;
  font-size: 23px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  margin: 20px auto;
  padding: 30px 20px;
}
span {
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 1027px) {
  li {
    margin: 20px 10px;
  }
}
